a{
    color:white;
}

a:hover
{
    text-decoration: none;
    color:white;
}


/* .error
{
    color:red;
} */

.horizontal_print
{
display: flex;
flex-direction: row;
}

.mensaje
{
    color:red;
    margin:2px 0 0 0; 
    padding: 0;
    width: 150px;
    text-align: center;
    font-size: .8rem;
    visibility: hidden;
}

@media print {
    @page {
           
      size: landscape;
 
    }
  }

